//
   Created by yanzexin on 02/02/2017.
   All right reserved. 10:17 AM
extends admin_layout

append content
    .container(ng-app='adminApp' ng-controller='scoresCtrl'
    ng-init="init('#{selectedTitle}', '#{JSON.stringify(homeworkList)}');")
        .card
            .card-header
                ul.actions
                    li
                        a(href='')
                            i.zmdi.zmdi-download

                h2
                    | 成绩表
                br
                .col-sm-3.m-b-25
                    select.selectpicker(data-live-search='true' ng-model='selectedTitle')
                        - for (var each of homeworkList)
                            option #{each['title']}

            .card-body
                .table-responsive
                    table#data-table-command.table.table-striped
                        thead
                            tr
                                th() 排名
                                th(data-column-id='id', data-type='numeric') 学号
                                th(data-column-id='received', data-order='desc') 成绩
                        tbody
                            - for (var index = 1; index <= scoreList.length; index++)
                                tr
                                    td #{index}
                                    td #{scoreList[index - 1]['studentId']}
                                    td #{scoreList[index - 1]['score']}

append javascripts
    script(src='../templates/vendors/bootgrid/jquery.bootgrid.updated.min.js')
    script(src='../templates/js/data_table.js')
    script(src='../javascripts/admin_scores.js')

