//
   Created by yanzexin on 02/02/2017.
   All right reserved. 10:17 AM
extends student_layout

append content
    .container(ng-app='App' ng-controller='scoresCtrl'
    ng-init="init('#{selectedTitle}', '#{JSON.stringify(homeworkList)}');")
        .card
            .card-header
                ul.actions
                    li
                        a(href='/downloadScore?homeworkId=#{selectedId}&homeworkTitle=#{selectedTitle}')
                            i.zmdi.zmdi-download

                h2
                    | 成绩表
                br
                .col-sm-3.m-b-25
                    select.selectpicker(data-live-search='true' ng-model='selectedTitle')
                        - for (var each of homeworkList)
                            option #{each['title']}

            .card-body
                .table-responsive
                    table#data-table-command.table.table-striped
                        thead
                            tr
                                th(data-column-id='index', data-type='numeric') 排名
                                th(data-column-id='id', data-type='numeric') 学号
                                th(data-column-id='received', data-type='numeric') 成绩
                        tbody
                            - var ranking = 1;
                            - for(var index = 0; index < scoreList.length; index++)
                                tr
                                    - if (index != 0 && scoreList[index]['score'] != scoreList[index - 1]['score']) ranking = index + 1;
                                    td #{ranking}
                                    td #{scoreList[index]['studentId']}
                                    td #{scoreList[index]['score']}

append javascripts
    script(src='../templates/vendors/bootgrid/jquery.bootgrid.updated.min.js')
    script(src='../javascripts/scores.js')
